[submodule "ext/ptr_container"]
	path = ext/ptr_container
	url = git://github.com/boost-lib/ptr_container.git
[submodule "ext/exception"]
	path = ext/exception
	url = git://github.com/boost-lib/exception.git
[submodule "ext/conversion"]
	path = ext/conversion
	url = git://github.com/boost-lib/conversion.git
[submodule "ext/config"]
	path = ext/config
	url = git://github.com/boost-lib/config.git
